/* profile.css */

.container {
     width: 100%;
    max-width: 963px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 50px auto;
    }

h2 {
     margin-bottom: 30px;
    color: #343a40;
    text-align: center;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #ddd;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-row {
    display: block;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

.form-group.full-width {
    width: 100%;
    margin-right: 0;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"]
 {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}



.form-actions {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #0056b3;
}

.form-messages {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #e74c3c;
}

small {
    display: block;
    margin-top: 5px;
    color: #888;
}
