/* Contenedor del formulario */
.card {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    color: #333333;
    font-size: 24px;
}

.card .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.card .form-control {
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced4da;
    padding: 12px;
    font-size: 16px;
    background-color: #f4f7f6;
    transition: border 0.3s ease;
}

.card .form-control:focus {
    border-color: #007bff;
}

.card .btn {
    width: 100%;
    border-radius: 30px;
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
    margin-top: 20px;
}

.card .btn:hover {
    background-color: #0056b3;
}

.card .form-text {
    text-align: left;
    color: #6c757d;
    font-size: 14px;
}